.header {
  height: 100px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  position: relative;
}
.grid .header {
  margin-bottom: 50px;
}
.header h1 {
  margin-bottom: 0;
  vertical-align: middle;
  padding: 21px;
  background: #d8b948;
  color: #181818;
  @media screen and (max-width: 768px) {
    font-size: 33px;
  }
}
